body{
  height: 0%;
}
.fl{
padding: 10px;
}
.header {
  padding: 10px 0;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header a{
    color: #ffffff;
    padding: 20px 10px;
    display: block;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
}
.header a:hover{
      background: #efefef;
      color: #000000;
}
.header li.active a{
  background: #efefef;
  color: #000000;
}

.more{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}



.q1{
  margin-top: 200px;
}

.q1, .q2, .q3, .q4, .q5, .q6{
  height: 700px;
  border-bottom: 1px solid #000;
}